//scrollbar

::-webkit-scrollbar {
    height: 50px;
    width: 5px;
    background: $primary-background;
    -webkit-border-radius: 1ex;

    @include mobile {
      height: 30px;
      width: 3px;
    }
  }
  
  ::-webkit-scrollbar-thumb {
    background: $scroll-main-color;
    -webkit-border-radius: 1ex;

    @include mobile {
      -webkit-border-radius: 0.5ex;
    }
  }
  
  ::-webkit-scrollbar-corner {
    background: $scroll-main-color;
  }

  //main components

  h1 {
    font-size: $large-font-size;
    line-height: $large-line-height;
    font-weight: 400;
    color: $primary-color;

    @include mobile {
      font-size: $mobile-large-font-size;
      line-height: $mobile-large-line-height;
    }
  }

  h2, h3 {
    font-size: $big-font-size;
    line-height: $big-line-height;
    font-weight: 400;
    color: $secondary-color;

    @include mobile {
      font-size: $mobile-big-font-size;
      line-height: $mobile-big-line-height;
    }
  }

  h2 {
    max-width: 800px;

    @include mobile {
      max-width: 300px;
    }
  }

  button {
    font-size: $big-font-size;
    font-weight: 600;
    letter-spacing: 1px;
    color: $scroll-main-color;

    @include mobile {
      font-size: $mobile-big-font-size;
      font-weight: 500;
    }

  }