//scrollbar

::-webkit-scrollbar {
    height: 50px;
    width: 5px;
    background: $primary-background;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $scroll-main-color;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: $scroll-main-color;
  }

  #progress {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
  }
  
  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }

  #progress .indicator {
    stroke: green;
  }

  //main components

  h1 {
    font-size: $large-font-size;
    line-height: $large-line-height;
    font-weight: 400;
    color: $primary-color;
  }

  h2, h3 {
    font-size: $big-font-size;
    line-height: $big-line-height;
    font-weight: 400;
    color: $secondary-color;
  }

  h2 {
    max-width: 800px;
  }

  button {
    font-size: $big-font-size;
    font-weight: 600;
    letter-spacing: 1px;
    color: $scroll-main-color;

  }