
//padding
$main-page-padding: 160px 0;

//background
$primary-background: rgb(235, 234, 234);

//colors
$scroll-main-color: rgb(64, 149, 160);
$primary-color: rgb(36, 36, 35);
$secondary-color: #37383b;
$hover-color: rgb(20, 88, 44);

//font size
$large-font-size: 44px;
$big-font-size: 16px;
$mobile-large-font-size: 28px;
$mobile-big-font-size: 11px;

//line height
$large-line-height: 50px;
$big-line-height: 22px;
$mobile-large-line-height: 35px;
$mobile-big-line-height: 16px;

//border
$border-button: 1px solid $scroll-main-color;
$hover-border-button: 1px solid $hover-color;