@import './variables';
@import './mixins';
@import './base';
@import './navigation.scss';
@import './mainPage.scss';

.App {
 width: 100vw;
 height: 100vh;
 overflow: hidden;
 position: relative;

 section{
    text-align: center;
    @include flex(center, center);
    width: 100vw;
 }

 .mainSection {
   width: 100vw;
 height: 100vh;
   @include flex-direction(flex-start, row);
   overflow-x: scroll;

    div {
      @include flex(center, center);
      text-align: center;
      width: 100vw;
      height: 100%;
    }

    .inViewPage {
      background-color: yellow;
    }
 }

 .navSection {
    position: fixed;
    bottom: 0;
 }
}