@import './variables';
@import './mixins';
@import './base';
@import './navigation.scss';

.App {
 @include flex-direction(center, column);
 width: 100vw;
 height: 100vh;
 overflow: hidden;

 section{
    text-align: center;
    padding: $main-page-padding;
    @include flex(center, center);
    width: 100vw;
 }

 .mainSection {
    flex: 3;
    background-color: green;
 }

 .navSection {
    flex: 1;
    background-color: red;
 }
}