.MainPage {
    //keyframes
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
      }

    @include flex-direction(center, column);
    padding: $main-page-padding;

    h1 {
        flex: 1;
        @include flex(center,center);
    }

    h2 {
        flex: 2;
        @include flex(center,center);
    }

    .animationContainer {
        flex: 4;
        @include flex(center,center);
        margin-bottom: 160px;

        .MainAnimation {
            width: 120px;
            height: 120px;
            animation: gradientAnimation 5s infinite;
            background-image: url(../assets/backgroundAnimation.jpg);
        }
    }


}