.Navigation {
    @include flex-direction(center, column);
    gap: 20px;

    .scrollButton {
        @include flex(center, center);
        
        .mainScrollButton {
            width: 200px;
            height: 100px;
            background-color: yellow;
            border-radius: 100px;

            div {
                width: 200px;
                height: 150px;
                svg {

                }
            }
        }

        .pageScrollButton {
            width: 1000px;
            height: 100px;
            background-color: $scroll-main-color;
            border-radius: 100px;
            @include flex(center, center);

            .Scroll {
                @include flex-direction(center, row);
                gap: 15px; 

                div {
                    @include flex-direction(center, row);
                    gap: 15px;   
                

                    .year {
                        font-weight: bold;
                    }
    
                    .yearSection {
                        @include flex-direction(center, row);
                  
                        span {
                            width: 10px;
                            height: 10px;
                            background-color: green;
                        }
                    }
                }
            }
        }
    }
}