.Navigation {
    @include flex-direction(center, column);
    gap: 20px;

    @include mobile {
        gap: 10px;
    }

    .scrollButton {
        @include flex(center, center);
        
        .mainScrollButton {
            width: 180px;
            height: 80px;
            background-color: transparent;
            border-radius: 100px;
            border: $border-button;
            transition: 200ms all ease-in-out;

            @include mobile {
                width: 150px;
                height: 60px;
            }

            &:hover {
                border: $hover-border-button;
            }

            div {
                width: 180px;
                height: 80px;

                @include mobile {
                    width: 150px;
                    height: 60px;
                }
            }
        }
    }
}