.Navigation {
    @include flex-direction(center, column);
    gap: 20px;
    
    .scrollButton {
        @include flex(center, center);
        
        .mainScrollButton {
            width: 200px;
            height: 100px;
            background-color: yellow;
            border-radius: 100px;

            div {
                width: 200px;
                height: 150px;
                svg {

                }
            }
        }

        .pageScrollButton {
            width: 1000px;
            height: 100px;
            background-color: $scroll-main-color;
            border-radius: 100px;
        }
    }
}