.Page {
    margin: 0;
    padding: 0;
    @include flex(center, center);
    position: relative;

    .backgroundContainer {
        position: relative;

        .frontBackground {
            position: relative;
            left: 0;
            top: 0;
            height: 80%;
            z-index: 1;
        }

        .backBackground {
            position: absolute;
            left: 40%;
            z-index: 11;
            svg {
                margin-bottom: 120px;
            }
        }
    }
}